<h1 style="padding-left:40px">Add Course</h1><br>
			  <form role="form" style="padding:20px" method="post" action="/addCourse" >
			  <table style="width:70%">
			  <tr>
				<td style="font-size: 20px">Course name:</td><td><input type="text" style="width:100%; font-size:20px;" name="course_name"  id="course_name"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Type:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_type" id="course_type"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Section:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_section" id="course_section"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Days:</td> <td style="border: 1px white"><select name="course_days" style="font-size:20px">
							<option value="M------">M------</option>
							<option value="-T-----">-T-----</option>
							<option value="--W----">--W----</option>
							<option value="---J---">---J---</option>
							<option value="----F--">----F--</option>
							<option value="M-W----">M-W----</option>
							<option value="-T-J---">-T-J---</option>
							<option value="--W-F--">--W-F--</option>
						</select></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Start time:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_start_time" id="course_start_time"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">End time:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_end_time" id="course_end_time"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Room:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_room" id="course_room"/></td>
			</tr>
			<tr>
				<td style="font-size: 20px">Semester:</td> <td><input type="text" style="width:100%; font-size:20px;" name="course_semester" id="course_semester"/></td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 20px"><input type="submit" style="width:100%; font-size:20px;" value="Add Course"/></td>
			</tr>
			</table>
			</form>
			</div>