<!DOCTYPE html>
<% include ./head %>
<html>
<body onload="showContainer('profile')">
  
 
    <header id="setting-header">
      <div id="header-content">
        <div id="sidebar-collapse-div"></div>
        <i id="sidebar-collapse" class="fa fa-angle-double-left"></i>
        <span id="header-text">BUTTERFLY - ADMIN</span>
      </div>
    </header>
    <div id="settings-wrapper">
      <div id="sidebar">
        <div id="sidebar-userinfo">
          <img id="sidebar-bfly-logo" src="../images/logo2.gif">
          <div id="sidebar-username">
            <div>
              Hello, <%=  user.username %>
            </div>
          </div>
        </div>
        <ul id="sidebar-links">
		<!--
          <li class="sidebar-separator">
            <span>DASHBOARD</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('schedule')"><a href="#">
            <i class="fa fa-calendar-o"></i>
            <span>SCHEDULE</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('sequence')"><a href="#">
            <i class="fa fa-tasks"></i>
            <span>SEQUENCE</span>
          </a></li>
		-->
          <li class="sidebar-separator">
            <span>MODIFICATION</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('add-course')"><a href="#">
            <i class="fa fa-gears"></i>
            <span>ADD COURSE</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('remove-course')"><a href="#">
            <i class="fa fa-gears"></i>
            <span>REMOVE COURSE</span>
          </a></li>
          <li class="sidebar-separator">
            <span>SETTINGS</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('profile')"><a href="#">
            <i class="fa fa-user"></i>
            <span>PROFILE</span>
          </a></li>
          <li class="sidebar-link"><a href="#">
            <i class="fa fa-sign-out"></i>
            <a href="/logout">LOG OUT</a>
          </a></li>
        </ul>
      </div>
      <div id="settings-content-wrapper">
            <div id="profile-container" class="container">
              <h1>Profile</h1>
            </div>
            <div id="add-course-container" class="container">
              <h1>Add Course</h1><br>
			  <form role = "form" method="post" action="/admin" >
			  <table style="width:50%">
			  <tr>
				<td>Course name:</td><td><input type="text" name="course_name"  id="course_name"/></td>
			</tr>
			<tr>
				<td>Type:</td> <td><input type="text" name="course_type" id="course_type"/></td>
			</tr>
			<tr>
				<td>Section:</td> <td><input type="text" name="course_section" id="course_section"/></td>
			</tr>
			<tr>
				<td>Days:</td> <td><select name="course_days">
							<option value="M------">M------</option>
							<option value="-T-----">-T-----</option>
							<option value="--W----">--W----</option>
							<option value="---J---">---J---</option>
							<option value="----F--">----F--</option>
							<option value="M-W----">M-W----</option>
							<option value="-T-J---">-T-J---</option>
							<option value="--W-F--">--W-F--</option>
						</select></td>
			</tr>
			<tr>
				<td>Start time:</td> <td><input type="text" name="course_start_time" id="course_start_time"/></td>
			</tr>
			<tr>
				<td>End time:</td> <td><input type="text" name="course_end_time" id="course_end_time"/></td>
			</tr>
			<tr>
				<td>Room:</td> <td><input type="text" name="course_room" id="course_room"/></td>
			</tr>
			<tr>
				<td>Semester:</td> <td><input type="text" name="course_semester" id="course_semester"/></td>
			</tr>
			<tr>
				<td></td><td><input type="submit" value="Add Course"/></td>
			</tr>
			</table>
			</form>
			</div>
            <div id="remove-course-container" class="container">
              <h1>Remove Course</h1>
			  <table border=1 style="width:90%">
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Section</th>
					<th>Days</th>
					<th>Start time</th>
					<th>End time</th>
					<th>Room</th>
					<th>Semester</th>
					<th width="5%">Remove</th>
				</tr>
				<tr>
					<td>Comp 232</td>
					<td>Tut</td>
					<td>DDDA</td>
					<td>--W----</td>
					<td>20:30</td>
					<td>22:10</td>
					<td>H 432</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 232</td>
					<td>Lec</td>
					<td>DD</td>
					<td>--W-F--</td>
					<td>18:00</td>
					<td>19:15</td>
					<td>H 632</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 248</td>
					<td>Lec</td>
					<td>Q QB</td>
					<td>-T-J---</td>
					<td>9:30</td>
					<td>10:15</td>
					<td>H 912</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 248</td>
					<td>Lab</td>
					<td>Q QBX</td>
					<td>M------</td>
					<td>14:45</td>
					<td>16:30</td>
					<td>FG C080</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 346</td>
					<td>Lec</td>
					<td>KKH</td>
					<td>---J---</td>
					<td>10:15</td>
					<td>11:45</td>
					<td>H 502</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 478</td>
					<td>Lec</td>
					<td>YX</td>
					<td>M-W----</td>
					<td>13:30</td>
					<td>14:45</td>
					<td>H 470</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Comp 478</td>
					<td>Tut</td>
					<td>YX-L</td>
					<td>----F--</td>
					<td>10:00</td>
					<td>10:50</td>
					<td>H 832</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Soen 287</td>
					<td>Lec</td>
					<td>AA</td>
					<td>-T-J---</td>
					<td>17:30</td>
					<td>18:45</td>
					<td>FG B060</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Soen 287</td>
					<td>Tut</td>
					<td>AA-B</td>
					<td>-T-J---</td>
					<td>19:30</td>
					<td>20:20</td>
					<td>H 553</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
				<tr>
					<td>Soen 287</td>
					<td>Lab</td>
					<td>AA-AX</td>
					<td>--W----</td>
					<td>12:00</td>
					<td>13:00</td>
					<td>H 822</td>
					<td>fall</td>
					<td align="center"><img src="http://www.free-icons-download.net/images/red-minus-sign-icon-12101.png"></td>
				</tr>
			</table>
            </div>
			<!--
            <div id="preferences-container" class="container">
              <h1>Preferences</h1>
            </div>
            <div id="profile-container" class="container">
              <h1>Profile</h1>
            </div>
			-->
   
      </div>
    </div>
  <script type="text/javascript" src="../javascripts/settings.js"></script>

  </body>

</html>