<div class = "row">
	<h1 class = "col-md-12 prefTitle">PREFERENCE SETTINGS</h1>
</div>
<div class = "row">
<p class = "prefSub col-md-12">Modify your preference to get a better fit schedule</p>
</div>

<table class='table table-bordered' style="
    
    width: 90%;
    margin: auto;
">
                        <tr>
                            <th class = "prefHead">Course Number</th>
                            <th class = "prefHead">Course Description</th>
                            <th class = "prefHead">Credits</th>
                            <th class = "prefHead">Taken</th>
                        </tr>

                        <% for (var i = 0; i < courseprereq_info.length; i++) { %> 
                        <tr>
                            <td class = "sequenceCourse"> <%= courseprereq_info[i].course_name %> </td>
                            <td class = "sequenceCourse"> <%= courseprereq_info[i].course_description %> </td>
                            <td class = "sequenceCourse"> <%= courseprereq_info[i].credits %> </td>
                            <td class = "sequenceCourse"> <i class="fa fa-times-circle" style="color:red;"></i></i> </td>

                        </tr>
                        <% } %>
</table> 

<!-- <i class="fa fa-check-circle" style="color:green;"></i> -->