
<!-- Heading -->
<div class = "row">
	<h1 class = "col-md-12 prefTitle">PREFERENCE SETTINGS</h1>
</div>
<div class = "row">
<p class = "prefSub col-md-12">The system will generate the best fit schedule for you</p>
</div>
<!-- This div is for selection tabs -->
	<div class = "row column-div">
        <!-- div 0: show term -->
		<div class = "row">
			<table id = "showTerm" class = "table-hover table-formal">
				<tr>
					<th class = "prefHead">
						<i class="fa fa-book"></i>
						SEMESTER
					</th>
                    <td id = "term1" class = "prefContent" style = "width: 20%;">SUMMER</td>
                    <td id = "term2" class = "prefContent" style = "width: 20%;">FALL</td>
                    <td id = "term3" class = "prefContent" style = "width: 20%;">WINTER</td>
				</tr>
			</table>
		</div>
        <!-- div 1: pref course load -->
		<div class = "row">
			<table id = "courseLoad" class = "table-hover table-formal">
				<tr>
					<th class = "prefHead">
						<i class="fa fa-sort-numeric-asc"></i>
						LOADS
					</th>
                    <td id = "load1" class = "prefContent" style = "width: 15%;">3 COURSES</td>
                    <td id = "load2" class = "prefContent" style = "width: 15%;">4 COURSES</td>
                    <td id = "load3" class = "prefContent" style = "width: 15%;">5 COURSES</td>
                    <td id = "load4" class = "prefContent" style = "width: 15%;">6 COURSES</td>
				</tr>
			</table>
		</div>
		<!-- div 2: pref days -->
		<div class = "row">
			<table id = "prefDays" class = "table-hover table-formal">
				<tr>
					<th class = "prefHead">
						<i class="fa fa-sun-o"></i>
						DAYS
					</th>
                    <td class = "prefContent" style = "width: 12%;">MONDAY</td>
                    <td class = "prefContent" style = "width: 12%;">TUESDAY</td>
                    <td class = "prefContent" style = "width: 12%;">WEDNESDAY</td>
                    <td class = "prefContent" style = "width: 12%;">THURSDAY</td>
                    <td class = "prefContent" style = "width: 12%;">FRIDAY</td>
			</table>
		</div>
		<!-- div 3: pref time frame -->
		<div class = "row">
			<table id = "prefTime" class = "table-hover table-formal">
				<tr>
					<th class = "prefHead">
						<i class="fa fa-clock-o"></i>
						 TIME
					</th>
                    <td class = "prefContent" style = "width: 20%;">MORNING</td>
                    <td class = "prefContent" style = "width: 20%;">AFTERNOON</td>
                    <td class = "prefContent" style = "width: 20%;">NIGHT</td>
				</tr>
			</table>
		</div>
		<!-- div 4: pref location -->
		<div class = "row">
			<table id = "prefLocation" class = "table-hover table-formal">
				<tr>
					<th class = "prefHead">
						<i class="fa fa-building-o"></i>
						LOCATION
					</th>
                    <td class = "prefContent" style = "width: 20%;">SWG</td>
                    <td class = "prefContent" style = "width: 20%;">LOYOLA</td>
                    <td class = "prefContent" style = "width: 20%;">ONLINE</td>
				</tr>
			</table>
		</div>
	</div>
<!-- This div is for buttons -->
<div class = "row centeredText">
	<button id = "subRef" class = "refSubmit">Submit Changes</button>
</div>
<!-- Show return message -->
<div id="feedbackWindow">
    <p class = "centeredText"></p>
    <br/>
</div>

<script>
//hide the message block
$('#feedbackWindow').hide();
//Change color and add css class when clicked
$('td').click(function(){
    //summer only
    if($(this).attr('id')=='term1'){
        if($('#term2').hasClass('stayclicked')){
            $('#term2').removeClass('stayclicked');
            $('#term2').addClass('prefContent');
        }
        if($('#term3').hasClass('stayclicked')){
            $('#term3').removeClass('stayclicked');
            $('#term3').addClass('prefContent');
        }
    }
    //fall only
    if($(this).attr('id')=='term2'){
        if($('#term1').hasClass('stayclicked')){
            $('#term1').removeClass('stayclicked');
            $('#term1').addClass('prefContent');
        }
        if($('#term3').hasClass('stayclicked')){
            $('#term3').removeClass('stayclicked');
            $('#term3').addClass('prefContent');
        }
    }
    //winter only
    if($(this).attr('id')=='term3'){
        if($('#term2').hasClass('stayclicked')){
            $('#term2').removeClass('stayclicked');
            $('#term2').addClass('prefContent');
        }
        if($('#term1').hasClass('stayclicked')){
            $('#term1').removeClass('stayclicked');
            $('#term1').addClass('prefContent');
        }
    }
    //3 courses only
    if($(this).attr('id')=='load1'){
        if($('#load2').hasClass('stayclicked')){
            $('#load2').removeClass('stayclicked');
            $('#load2').addClass('prefContent');
        }
        if($('#load3').hasClass('stayclicked')){
            $('#load3').removeClass('stayclicked');
            $('#load3').addClass('prefContent');
        }
        if($('#load4').hasClass('stayclicked')){
            $('#load4').removeClass('stayclicked');
            $('#load4').addClass('prefContent');
        }
    }
    //4 courses only
    if($(this).attr('id')=='load2'){
        if($('#load1').hasClass('stayclicked')){
            $('#load1').removeClass('stayclicked');
            $('#load1').addClass('prefContent');
        }
        if($('#load3').hasClass('stayclicked')){
            $('#load3').removeClass('stayclicked');
            $('#load3').addClass('prefContent');
        }
        if($('#load4').hasClass('stayclicked')){
            $('#load4').removeClass('stayclicked');
            $('#load4').addClass('prefContent');
        }
    }
    //5 courses only
    if($(this).attr('id')=='load3'){
        if($('#load2').hasClass('stayclicked')){
            $('#load2').removeClass('stayclicked');
            $('#load2').addClass('prefContent');
        }
        if($('#load1').hasClass('stayclicked')){
            $('#load1').removeClass('stayclicked');
            $('#load1').addClass('prefContent');
        }
        if($('#load4').hasClass('stayclicked')){
            $('#load4').removeClass('stayclicked');
            $('#load4').addClass('prefContent');
        }
    }
    //6 courses only
    if($(this).attr('id')=='load4'){
        if($('#load2').hasClass('stayclicked')){
            $('#load2').removeClass('stayclicked');
            $('#load2').addClass('prefContent');
        }
        if($('#load3').hasClass('stayclicked')){
            $('#load3').removeClass('stayclicked');
            $('#load3').addClass('prefContent');
        }
        if($('#load1').hasClass('stayclicked')){
            $('#load1').removeClass('stayclicked');
            $('#load1').addClass('prefContent');
        }
    }
    //now good to go 
    if ($(this).hasClass('prefContent')){
		$(this).removeClass('prefContent');
		$(this).addClass('stayclicked');
	}
	else{
		$(this).removeClass('stayclicked');
		$(this).addClass('prefContent');
	}
});
//Submit JSON object to backend
$("#subRef").click(function(){
    var JSON_obj = {};
    //set semester
    var term = "";
    $('#showTerm td').each(function(){
        if($(this).hasClass('stayclicked')){
            term = $(this).text();
        }
    })
    //set course load
    var cl = "";
    $('#courseLoad td').each(function(){
        if($(this).hasClass('stayclicked')){
            cl = $(this).text().substring(0,1); //get number only
        }
    })
    //set days
    var days = "";
    $('#prefDays td').each(function(){
        if($(this).hasClass('stayclicked')){
            days += ($(this).text() + " "); 
        }
    });
    //set time
    var time = "";
    $('#prefTime td').each(function(){
        if($(this).hasClass('stayclicked')){
            time += ($(this).text() + " ");
        }
    });
    //set location
    var location = "";
    $('#prefLocation td').each(function(){
        if($(this).hasClass('stayclicked')){
            location += ($(this).text() + " ");
        }
    });
    //check if semester is not seleted
    if (term == ""){
        $('#feedbackWindow p').text("Please select a semester");
        $('#feedbackWindow').show(200);
        exit();
    }
        
    //JSON final set
    JSON_obj.semester = term;
    JSON_obj.courseLoad = cl;
    JSON_obj.monday = (days.match(/MONDAY/) ? true : false);
    JSON_obj.tuesday = (days.match(/TUESDAY/) ? true : false);
    JSON_obj.wednesday = (days.match(/WEDNESDAY/) ? true : false);
    JSON_obj.thursday = (days.match(/THURSDAY/) ? true : false);
    JSON_obj.friday = (days.match(/FRIDAY/) ? true : false);
    JSON_obj.morning = (time.match(/MORNING/) ? true : false);
    JSON_obj.afternoon = (time.match(/AFTERNOON/) ? true : false);
    JSON_obj.night = (time.match(/NIGHT/) ? true : false);
    JSON_obj.swg = (location.match(/SWG/) ? true : false);
    JSON_obj.loyola = (location.match(/LOYOLA/) ? true : false);
    JSON_obj.online = (location.match(/ONLINE/) ? true : false);
    //testing
    alert("Semester to show: " + JSON_obj.semester + 
          "\nCourse load: " + JSON_obj.courseLoad + 
          "\nMonday: " + JSON_obj.monday + 
          "\nTuesday: " + JSON_obj.tuesday + 
          "\nWednesday: " + JSON_obj.wednesday +
          "\nThursday: " + JSON_obj.thursday +
          "\nFriday: " + JSON_obj.friday +
          "\nMorning: " + JSON_obj.morning +
          "\nAfternoon: " + JSON_obj.afternoon +
          "\nNight: " + JSON_obj.night +
          "\nSWG: " + JSON_obj.swg +
          "\nLoyola: " + JSON_obj.loyola +
          "\nonline: " + JSON_obj.online 
          );
     /**
     do something to submit the JSON file
     **/
     //Show message
     $('#subRef').fadeOut(500);
     $('#feedbackWindow').addClass('centeredText');
     $('#feedbackWindow').text("You have successfully changed the preference! Refreshing in 5 seconds.");
     $('#feedbackWindow').show(1500, "swing");
     setInterval('window.location.reload()', 5000);
     
    
});
</script>
