<h1 class="col-md-12 prefTitle" style="margin-top: -8%;">Your Student Profile</h1>
<div id="profile-window" style="margin-top: 11%; margin-left: 16%;">
    <div class="form-group">
        <button id="edit-first-name" type="button" class="btn btn-default">
            <i class="fa fa-pencil"></i>
        </button>
        <label for="usr">First Name:</label>
        <input id="edit-first-name-input" type="text" class="form-control" id="fname" disabled>
    </div>
    <div class="form-group">
        <button id="edit-last-name" type="button" class="btn btn-default">
            <i class="fa fa-pencil"></i>
        </button>
        <label for="usr">Last Name:</label>
        <input id="edit-last-name-input" type="text" class="form-control" id="fname" disabled>
    </div>
    <div class="form-group">
        <label for="usr">Student ID:</label>
        <div id="profile-password-input" class="input-group">
            <input id="student-id-input" type="text" class="form-control" disabled>
        </div>
    </div>
</div>