<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register</title>
   </head>
   <body>
      <h2>Sign In Form</h2>
      <form role = "form" method="post" action="/register" >

        <input type="text" name="username" id="username"
               placeholder="username" required="true"/>
        
            <input type="text" name="password" id="password"
               placeholder="password" required="true"/>

            <button  type="submit">Submit</button>
          
            <a href="/" title="register">cancel</a>
      
      
      </form>
   </body>
</html>