<!DOCTYPE html>
<% include ./head %>
    <html>

    <body>
        <div id="page-loader"><span class="page-loader-gif"></span></div>
        <header id="setting-header">
            <div id="header-content">
                <div id="sidebar-collapse-div"></div>
                <i id="sidebar-collapse" class="fa fa-angle-double-left"></i>
                <span id="header-text">BUTTERFLY</span>
            </div>
        </header>
        <div id="settings-wrapper" style="background-color: oldlace;">
            <div id="sidebar">
                <div id="sidebar-userinfo">
                    <img id="sidebar-bfly-logo" src="../images/logo2.gif">
                    <div id="sidebar-username">
                        <div>
                            <%= name.first_name %>
                                <%= name.last_name %>
                                    <div id="student_id" style="display:none;">
                                        <%= user.username %>
                                    </div>
                        </div>
                    </div>
                </div>
                <ul id="sidebar-links">
                    <li class="sidebar-separator">
                        <span>DASHBOARD</span>
                    </li>
                    <li class="sidebar-link" onclick="showContainer('schedule')">
                        <a href="#">
                            <i class="fa fa-calendar-o"></i>
                            <span>SCHEDULE</span>
                        </a>
                    </li>
                    <li class="sidebar-link" onclick="showContainer('sequence')">
                        <a href="#">
                            <i class="fa fa-tasks"></i>
                            <span>SEQUENCE</span>
                        </a>
                    </li>
                    <li class="sidebar-separator">
                        <span>MODIFICATION</span>
                    </li>
                    <li class="sidebar-link" onclick="showContainer('student-record')">
                        <a href="#">
                            <i class="fa fa-graduation-cap"></i>
                            <span>STUDENT RECORD</span>
                        </a>
                    </li>
                    <li class="sidebar-link" onclick="showContainer('preferences')">
                        <a href="#">
                            <i class="fa fa-gears"></i>
                            <span>PREFERENCES</span>
                        </a>
                    </li>
                    <li class="sidebar-separator">
                        <span>SETTINGS</span>
                    </li>
                    <li class="sidebar-link" onclick="showContainer('profile')">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>PROFILE</span>
                        </a>
                    </li>
                    <li class="sidebar-link">
                        <a href="#">
                            <i class="fa fa-sign-out"></i>
                            <a href="/logout">LOG OUT</a>
                        </a>
                    </li>
                </ul>
                <p class='footer'>Team Butterfly © 2016
                    <br/>Concordia University</p>
            </div>
            <div id="settings-content-wrapper" style="width: 85%">
                <div id="schedule-container" class="containerq">
                    <% include ./schedule %>
                </div>
                <div id="sequence-container" class="containerq">
                    <% include ./courseprereq %>
                </div>
                <div id="student-record-container" class="containerq">
                    <% include ./student-record %>
                </div>
                <div id="preferences-container" class="containerq">
                    <% include ./pref %>
                </div>
                <div id="profile-container" class="containerq">
                    <% include ./profile %>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../controllers/ui.js"></script>
        <script type="text/javascript" src="../controllers/utils.js"></script>
        <script type="text/javascript" src="../controllers/globals.js"></script>
        <script type="text/javascript" src="../controllers/studentRecord.js"></script>
        <script type="text/javascript" src="../controllers/sequence.js"></script>
        <script type="text/javascript" src="../controllers/preferences.js"></script>
        <script type="text/javascript" src="../controllers/generateSchedule.js"></script>
        <script type="text/javascript" src="../controllers/renderSchedule.js"></script>
        <script type="text/javascript" src="../controllers/profile.js"></script>
        <script type="text/javascript" src="../controllers/admin.js"></script>
    </body>

    </html>