<!DOCTYPE html>
<% include ./head %>
<html>
<body>
    <div id="page-loader"><span class="page-loader-gif"></span></div>
    <header id="setting-header">
      <div id="header-content">
        <div id="sidebar-collapse-div"></div>
        <i id="sidebar-collapse" class="fa fa-angle-double-left"></i>
        <span id="header-text">BUTTERFLY</span>
      </div>
    </header>
    <div id="settings-wrapper" style = "background-color: oldlace;">
      <div id="sidebar">
        <div id="sidebar-userinfo">
          <img id="sidebar-bfly-logo" src="../images/logo2.gif">
          <div id="sidebar-username">
            <div>
              <%= name.first_name %> <%= name.last_name %>
            </div>
          </div>
        </div>
        <ul id="sidebar-links">
          <li class="sidebar-separator">
            <span>DASHBOARD</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('schedule')"><a href="#">
            <i class="fa fa-calendar-o"></i>
            <span>SCHEDULE</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('sequence')"><a href="#">
            <i class="fa fa-tasks"></i>
            <span>SEQUENCE</span>
          </a></li>
          <li class="sidebar-separator">
            <span>MODIFICATION</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('student-record')"><a href="#">
            <i class="fa fa-graduation-cap"></i>
            <span>STUDENT RECORD</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('preferences')"><a href="#">
            <i class="fa fa-gears"></i>
            <span>PREFERENCES</span>
          </a></li>
          <li class="sidebar-separator">
            <span>SETTINGS</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('profile')"><a href="#">
            <i class="fa fa-user"></i>
            <span>PROFILE</span>
          </a></li>
          <li class="sidebar-link"><a href="#">
            <i class="fa fa-sign-out"></i>
            <a href="/logout">LOG OUT</a>
          </a></li>
        </ul>
          <p class = 'footer'>Team Butterfly © 2016<br/>Concordia University</p>
      </div>
      <div id="settings-content-wrapper" style = "width: 85%">
            <div id="schedule-container" class="containerq">
              <h1>Schedule</h1>
            </div>
            <div id="sequence-container" class="containerq">
              <h1>Sequence</h1>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Year 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <table >
          <tbody>
            <tr>
              <th style="text-align: center;" colspan="3">year 1 - Fall</th>
            </tr>
            <tr>
              <th width="30%"><b>Course Number</b></th>
              <th width="60%"><b>Course Name</b></th>
              <th style="text-align: left;"><b>Credit</b></th>
            </tr>
            <tr>
              <td width="21%" valign="top"><p>Comp 232</p></td>
              <td width="66%" valign="top"><p>Mathematics for Computer Science</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>COMP 248</p></td>
              <td width="66%" valign="top"><p>Object-Oriented Programming I</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENGR 201</p></td>
              <td width="66%" valign="top"><p>Professional Practice and Responsibility</p></td>
              <td width="10%" valign="top"><p>1.5</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENGR 213</p></td>
              <td width="66%" valign="top"><p>Applied Ordinary Differential Equations</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>General Educative Elective <br></p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
             <tr>
              <th style="text-align: center;" colspan="3"> Year 1 - Winter </th>
            </tr>
             <tr>
              <td ><p><b>Course Number</b></p></td>
              <td ><p><b>Course Name</b></p></td>
              <td ><p><b>Credit</b></p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>COMP 249</p></td>
              <td width="66%" valign="top"><p>Object-Oriented Programming II</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENGR 233</p></td>
              <td width="66%" valign="top"><p>Applied Advanced Calculus</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>SOEN 228</p></td>
              <td width="66%" valign="top"><p>System Harware</p></td>
              <td width="10%" valign="top"><p>4</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 287</p></td>
              <td width="66%" valign="top"><p>Introduction to Web Applications</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>Basic Science</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>  

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Year 2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <table >
          <tbody>
            <tr>
              <th style="text-align: center;" colspan="3">year 2 - Fall</th>
            </tr>
            <tr>
              <th width="30%"><b>Course Number</b></th>
              <th width="60%"><b>Course Name</b></th>
              <th style="text-align: left;"><b>Credit</b></th>
            </tr>
            <tr>
              <td width="21%" valign="top"><p>COMP 348</p></td>
              <td width="66%" valign="top"><p>Principles of Programming Languages</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>COMP 352</p></td>
              <td width="66%" valign="top"><p>Data Structures and aLgortihms</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENCS 282</p></td>
              <td width="66%" valign="top"><p>Technical Writing and Communication</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENGR 202</p></td>
              <td width="66%" valign="top"><p>Sustainable Development and Environmental Stewardshi[</p></td>
              <td width="10%" valign="top"><p>1.5</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>Basic Science</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
             <tr>
              <th style="text-align: center;" colspan="3"> Year 2 - Winter </th>
            </tr>
             <tr>
              <td ><p><b>Course Number</b></p></td>
              <td ><p><b>Course Name</b></p></td>
              <td ><p><b>Credit</b></p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>COMP 346</p></td>
              <td width="66%" valign="top"><p>Operating Systems</p></td>
              <td width="10%" valign="top"><p>4</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ELEC 275</p></td>
              <td width="66%" valign="top"><p>Principles of Electrical Engineering</p></td>
              <td width="10%" valign="top"><p>3.5</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>ENGR 371</p></td>
              <td width="66%" valign="top"><p>Probability and Statistics in Engineering</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 331</p></td>
              <td width="66%" valign="top"><p>Introduction to Formal Methods for Software Engineering</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 341 </p></td>
              <td width="66%" valign="top"><p>Software Process</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>  

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Year 3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
            <table >
          <tbody>
            <tr>
              <th style="text-align: center;" colspan="3">year 3 - Fall</th>
            </tr>
            <tr>
              <th width="30%"><b>Course Number</b></th>
              <th width="60%"><b>Course Name</b></th>
              <th style="text-align: left;"><b>Credit</b></th>
            </tr>
            <tr>
              <td width="21%" valign="top"><p>COMP 335</p></td>
              <td width="66%" valign="top"><p>Introduction to Theoretical Computer Science</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 342</p></td>
              <td width="66%" valign="top"><p>Software Requirements and Specifications</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 343</p></td>
              <td width="66%" valign="top"><p>Software Architecture and Design I</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 384</p></td>
              <td width="66%" valign="top"><p></p>Management Measurement and Quality Control</td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p> ENGR 391</p></td>
              <td width="66%" valign="top"><p>Numerical Methods in Enginerring</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
             <tr>
              <th style="text-align: center;" colspan="3"> Year 3 - Winter </th>
            </tr>
             <tr>
              <td ><p><b>Course Number</b></p></td>
              <td ><p><b>Course Name</b></p></td>
              <td ><p><b>Credit</b></p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 344</p></td>
              <td width="66%" valign="top"><p>Software Architecture and Design II</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 345</p></td>
              <td width="66%" valign="top"><p>Software Testing, Verification and Quality Assurance</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>SOEN 357</p></td>
              <td width="66%" valign="top"><p>User Interface Design</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 390</p></td>
              <td width="66%" valign="top"><p>Software Engineering Team Design Project</p></td>
              <td width="10%" valign="top"><p>3.5</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>Elective</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>  

          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Year 4
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
            <table >
          <tbody>
            <tr>
              <th style="text-align: center;" colspan="3">year 4 - Fall</th>
            </tr>
            <tr>
              <th width="30%"><b>Course Number</b></th>
              <th width="60%"><b>Course Name</b></th>
              <th style="text-align: left;"><b>Credit</b></th>
            </tr>
            <tr>
              <td width="21%" valign="top"><p>SOEN 490</p></td>
              <td width="66%" valign="top"><p>Capstone Software Engineerin Design Project</p></td>
              <td width="10%" valign="top"><p>4</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>ENGR 301</p></td>
              <td width="66%" valign="top"><p>Engineering Management Principles and Economics</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 321</p></td>
              <td width="66%" valign="top"><p>Information Systems Security</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>Technical Elective</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>Technical Elective</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
             <tr>
              <th style="text-align: center;" colspan="3"> Year 4 - Winter </th>
            </tr>
             <tr>
              <td ><p><b>Course Number</b></p></td>
              <td ><p><b>Course Name</b></p></td>
              <td ><p><b>Credit</b></p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 385</p></td>
              <td width="66%" valign="top"><p>Control System</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 392</p></td>
              <td width="66%" valign="top"><p>Impact of Technology on Society</p></td>
              <td width="10%" valign="top"><p>3</p></td>
            </tr>
            
             <tr>
              <td width="21%" valign="top"><p>SOEN 490</p></td>
              <td width="66%" valign="top"><p>Capstone Software Engineering Design Project</p></td>
              <td width="10%" valign="top"><p>(4)</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>SOEN 390</p></td>
              <td width="66%" valign="top"><p>Software Engineering Team Design Project</p></td>
              <td width="10%" valign="top"><p>3.5</p></td>
            </tr>
             <tr>
              <td width="21%" valign="top"><p>Elective</p></td>
              <td width="66%" valign="top"><p>&nbsp;</p></td>
              <td width="10%" valign="top"><p>&nbsp;</p></td>
            </tr>  
            <tr>
              <td >Elective</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
            </tr>  

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

       
            </div>
            <div id="student-record-container" class="containerq">
              <h1>Student Record</h1>

         
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only">Add Course</label>
          <input class="form-control" id="courseID" placeholder="Course ID">
        </div>
        <button type="submit" class="btn btn-default" onsubmit="">Add</button>
 <button type="submit" class="btn btn-default" onsubmit="">Remove</button>      
      </form>

      </br> <!-- Formatting -->
      <table class='table table-bordered'>
         <tr>
            <th>Course ID</th><th>Course Name</th><th>Credits Received</th>
         </tr>

         
          <tr>
            
          </tr>    
        
      </table>             
            </div>
            <div id="preferences-container" class="containerq">
              <% include ./pref %>
            </div>
            <div id="profile-container" class="containerq">
              <h1>Profile</h1>
            </div>
      </div>
    </div>
  <script type="text/javascript" src="../javascripts/settings.js"></script>
  
  </body>

</html>
