.stayclicked {
	background-color: rgba(230,126,34,1);
	color: white;
    border: 1px solid rgba(230,126,34,1);
}

.prefTitle{
	text-align: center;
	font-size: 50px;
	color: grey;
	font-weight: bolder;
}

.prefSub{
	text-align: center;
	color: grey;
	font-weight: bold;
}

.prefHead{
	width: 40%;
	font-size: 20pt;
	text-align: center;
	background-color: rgba(230,126,34,0.7);
}

.prefContent{
	background-color: rgba(176,168,162,0.2);
	border-collapse: separate;
    border: 1px solid rgba(176,168,162,0.2);
    margin: auto;
}

.column-div{
    margin: auto;
	width: 100%;
	margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -10px;
    padding-right: 0px;
    border: 1px solid black;
}

.table-formal{
    min-width: 60px;
	width: 80%;
	height: 50px;
	font-size: 15pt;
	text-align: center;
	margin: auto;
	color: black;
}

.refSubmit {
	-webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #9ed1f0;
    padding: 7px 40px 8px 40px;
    text-decoration: none;
}

.refSubmit:hover {
	background: #bcc8d1;
    text-decoration: none;
}
