html, body {
  height: 100% !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-size: 18px !important;
}

.navbar {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
    display: none;
}