<footer>
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li><h6 style="margin: 0;">&copy; 2016 Team Butterfly, Concordia University</h6></li>
        </ul>
    </div>
</footer>