<meta charset="UTF-8">
<title>BUTTERFLY</title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<link type="text/css" href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">  

<link rel="stylesheet" href="stylesheets/style2.css" id="theme">   
<!-- load jquery and leanmodal-->

<script type="text/javascript" src="javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="javascripts/jquery.leanModal.min.js"></script>

<script type="text/javascript" src="javascripts/jquery.leanModal.min.js"></script>
<!-- Minified JS for jQuery -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<!-- Compiled and minified CSS and JS for Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Minified FontAwesome CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Minified JS for AngularJS 1.5.0 -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<!-- Google Fonts -->
<link rel="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">

