<!DOCTYPE html>
<html>
<% include ../partials/head %>
<head>
<title> Practice </title>
</head>

<body>
<div id="container1">
<div id="imalogo">
<!--not sure what logo-->

<img src="images/logo2.gif" alt="logo_schedulator">

</div>
<div id="header1">
<p> BUTTERFLY </p>
</div>
<div id="header2">
<p> SOFTWARE ENGINEERING STUDENTS SCHEDULER. MONTREAL, CA </p>
</div>
<hr>
</div>


<div class="container">
    <a id="modal_trigger" href="#modal" class="btn" style = "
    
    margin-left: 47%;
    width: 100px;
     margin-top: -2%;
"
>Login</a>

    <div id="modal" class="popupContainer" style="display:none;">
        <header class="popupHeader">
            <span class="header_title">Login</span>
            
        </header>
        
        <section class="popupBody">
            <!-- Social Login -->
            

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form>
                    <label>Username</label>
                    <input type="text" />
                    <br />

                    <label>Password</label>
                    <input type="password" />
                    <br />

                    

                    <div class="action_btns">
                        
                        <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                    </div>
                </form>

                
            <!-- <a href="#" class="forgot_password">Forgot password? -->
            </div>

            
            
        </section>
    </div>
</div>

<script type="text/javascript">

    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        // Calling Login Form
        $("#login_form").click(function(){
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function(){
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function(){
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Login');
            return false;
        });

    })
</script>

<!--
<a href="#login-box"  class="login-window">LOGIN</a>
<div id="login-box" class="login-popup">
<a href="#" class="close"></a>
  <form method="post" class="signin" action="/login">
        <fieldset class="textbox">
        <label class="username">
        <span>Username</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
        </label>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        </label>
       <button class="submit button" onClick= "parent.location = 'homepage.html'" type="button">Sign in</button>
        

        </fieldset>
  </form>
</div>
</div>

<script>


$(document).ready(function() {
$('a.login-window').click(function() {
    //Getting the variable's value from a link
    var loginBox = $(this).attr('href');

    //Fade in the Popup
    $(loginBox).fadeIn(300);

    //Set the center alignment padding + border see css style
    var popMargTop = ($(loginBox).height() + 24) / 2;
    var popMargLeft = ($(loginBox).width() + 24) / 2;

    $(loginBox).css({
        //'margin-top' : ,
        //'margin-left' : -popMargLeft
    });

    // Add the mask to body
    $('body').append('<div id="mask"></div>');
    $('#mask').fadeIn(450);

    return false;
});

// When clicking on the button close or the mask layer the popup closed

// $('a.close, #mask').click(function (e) {
//     if (!$(e.target).is("#login-box")) {
//         if ($('#login-box').is(':visible')) {
//             $('#login-box').hide();
//         }
//     }
// });
// $('a.close').click(function() {
//    $("a.login-window").fadeOut(300);
// });
// $("a.login-window").on('blur',function(){
//     $(this).fadeOut(300);
// });
$(document).click(function() {
    $('#mask , .login-popup').fadeOut(450);
    $('#mask').remove();
});
$('a.close, #mask').on('click', function() {
  $('#mask , .login-popup').fadeOut(300 , function() {
    $('#mask').remove();
});
return false;
});
});
</script>
-->
</body>
</html>