<!DOCTYPE html>
<html>
<% include ../partials/head %></head>
<head>
<title> Practice </title>


<body>
<div id="container">
<div id="imalogo">
<!--not sure what logo-->

<img src="images/logo2.gif" alt="logo_schedulator">

</div>
<div id="header1">
<p> BUTTERFLY </p>
</div>
<div id="header2">
<p> SOFTWARE ENGINEERING STUDENTS SCHEDULER. MONTREAL, CA </p>
</div>
<hr>


<a href="#login-box"  class="login-window">LOGIN</a>
<div id="login-box" class="login-popup">
<a href="#" class="close"></a>
  <form method="post" class="signin" action="#">
        <fieldset class="textbox">
        <label class="username">
        <span>Username</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
        </label>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        </label>
        <button class="submit button" onClick= "parent.location = 'homepage.html'" type="button">Sign in</button>
        

        </fieldset>
  </form>
</div>


<script>




$(document).ready(function() {
$('a.login-window').click(function() {
    //Getting the variable's value from a link
    var loginBox = $(this).attr('href');

    //Fade in the Popup
    $(loginBox).fadeIn(300);

    //Set the center alignment padding + border see css style
    var popMargTop = ($(loginBox).height() + 24) / 2;
    var popMargLeft = ($(loginBox).width() + 24) / 2;

    $(loginBox).css({
        //'margin-top' : ,
        //'margin-left' : -popMargLeft
    });

    // Add the mask to body
    $('body').append('<div id="mask"></div>');
    $('#mask').fadeIn(450);

    return false;
});

// When clicking on the button close or the mask layer the popup closed

// $('a.close, #mask').click(function (e) {
//     if (!$(e.target).is("#login-box")) {
//         if ($('#login-box').is(':visible')) {
//             $('#login-box').hide();
//         }
//     }
// });
// $('a.close').click(function() {
//    $("a.login-window").fadeOut(300);
// });
// $("a.login-window").on('blur',function(){
//     $(this).fadeOut(300);
// });
$(document).click(function() {
    $('#mask , .login-popup').fadeOut(450);
    $('#mask').remove();
});
$('a.close, #mask').on('click', function() {
  $('#mask , .login-popup').fadeOut(300 , function() {
    $('#mask').remove();
});
return false;
});
});
</script>
</body>
</html>