<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body ng-app>
    <header>
      <% include ../partials/header %>
    </header>
    <p>This is the landing page.</p>
    <i class="fa fa-calendar-check-o"></i>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
