<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <p>This is the landing page.</p>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
