<!DOCTYPE html>

<html>
<% include ../partials/head %>

  <body class="animated-content">
    <header id="setting-header">
      <div id="header-content">
        <div id="sidebar-collapse-div"></div>
        <i id="sidebar-collapse" class="fa fa-angle-double-left"></i>
        <span id="header-text">BUTTERFLY</span>
      </div>
    </header>
    <div id="settings-wrapper">
      <div id="sidebar">
        <div id="sidebar-userinfo">
          <img id="sidebar-bfly-logo" src="../images/logo2.gif">
          <div id="sidebar-username">
            <div>Username</div>
          </div>
        </div>
        <ul id="sidebar-links">
          <li class="sidebar-separator">
            <span>DASHBOARD</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('schedule')"><a href="#">
            <i class="fa fa-calendar-o"></i>
            <span>SCHEDULE</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('sequence')"><a href="#">
            <i class="fa fa-tasks"></i>
            <span>SEQUENCE</span>
          </a></li>
          <li class="sidebar-separator">
            <span>MODIFICATION</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('student-record')"><a href="#">
            <i class="fa fa-graduation-cap"></i>
            <span>STUDENT RECORD</span>
          </a></li>
          <li class="sidebar-link" onclick="showContainer('preferences')"><a href="#">
            <i class="fa fa-gears"></i>
            <span>PREFERENCES</span>
          </a></li>
          <li class="sidebar-separator">
            <span>SETTINGS</span>
          </li>
          <li class="sidebar-link" onclick="showContainer('profile')"><a href="#">
            <i class="fa fa-user"></i>
            <span>PROFILE</span>
          </a></li>
          <li class="sidebar-link"><a href="#">
            <i class="fa fa-sign-out"></i>
            <span>LOG OUT</span>
          </a></li>
        </ul>
      </div>
      <div id="settings-content-wrapper">
            <div id="schedule-container" class="container">
              <h1>Schedule</h1>
            </div>
            <div id="sequence-container" class="container">
              <h1>Sequence</h1>
            </div>
            <div id="student-record-container" class="container">
              <h1>Student Record</h1>
            </div>
            <div id="preferences-container" class="container">
              <h1>Preferences</h1>
            </div>
            <div id="profile-container" class="container">
              <h1>Profile</h1>
            </div>
        <% include ../partials/footer %>
      </div>
    </div>
  <script type="text/javascript" src="../javascripts/settings.js"></script>
  </body>

</html>