<!DOCTYPE html>

<html>
<% include ../partials/head2 %>


<body class="animated-content">
<!--*********************************************************
*************************************************************
*********************PART A: Nevigation Bar******************
*************************************************************
*************************************************************
**********************************************************-->	
<header id="topnav" class="navbar navbar-bluegray navbar-fixed-top">
	<!-- logo:top left -->
	<div class="logo-area">
		<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg">
					<i class="ti ti-shift-left"></i>
				</span>
			</a>
		</span>
		<a class="navbar-brand" href="index.html"></a>
	</div>
	<!-- End of logo -->
	<!-- Schedule Preference --> 
	<ul class="nav navbar-nav toolbar pull-right">
		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></i></a>
			<ul class="dropdown-menu userinfo arrow">
				<li><a href="#/"><i class="ti ti-user"></i><span>Profile</span></a></li>
				<li><a href="#/"><i class="ti ti-settings"></i><span>Preference</span></a></li>
				<li class="divider"></li>
				<li><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
			</ul>
		</li>
	</ul>
	<!-- End of Preference -->
</header>
<!-- End of Nevigation Bar -->
<!--*********************************************************
*************************************************************
*********************PART B: DASH BOARD**********************
*************************************************************
*************************************************************
**********************************************************-->
<div id="wrapper">
    <div id="layout-static">
    	<!--*********************************************************
		*********************PART B1: SIDE BAR***********************
		**********************************************************-->
        <div class="static-sidebar-wrapper sidebar-bluegray">
            <div class="static-sidebar">
                <div class="sidebar">
					<div class="widget">
        				<div class="widget-body">
            				<div class="userinfo">
                				<div class="info">
                    				<span class="username">Username</span>
                				</div>
            				</div>
        				</div>
    				</div>
					<div class="widget stay-on-collapse" id="widget-sidebar">
    					<nav class="widget-body">
							<ul class="acc-menu">
								<li class="nav-separator"><span>DASHBOARD</span></li>
								<li><a href="index.html"><i class="ti ti-home"></i><span>SCHEDULE</span></a></li>
								<li><a href="angular/app/"><i class="ti ti-shield"></i><span>SEQUENCE</span></a></li>
								<li class="nav-separator"><span>MODIFICATION</span></li>
								<li><a href="index.html"><i class="ti ti-home"></i><span>STUDENT RECORD</span></a></li>
								<li><a href="angular/app/"><i class="ti ti-shield"></i><span>PREFERENCE</span></a></li>
								<li class="nav-separator"><span>SETTING</span></li>
								<li><a href="index.html"><i class="ti ti-home"></i><span>PROFILE</span></a></li>
								<li><a href="angular/app/"><i class="ti ti-shield"></i><span>LOG OUT</span></a></li>
							</ul>
						</nav>
  					</div>
				</div>
            </div>
        </div>
        <!-- End of Side Bar -->
        <!--*********************************************************
		*********************PART B2: CONTENTS***********************
		**********************************************************-->
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <div class="page-heading">
                        <h1>Schedule</h1>
                    </div>
                	<div class="container-fluid">
                		<div class="row">
						</div>
						<div class="row">
						</div>
					</div> <!-- .container-fluid -->
                </div> <!-- #page-content -->
            </div>
            <% include ../partials/footer2 %>
        </div>
        <!-- End of Contents -->
    </div>
</div>
<!-- End of Dash Board -->
</body>
<!-- End of Body -->

</html>